<nav class="navbar navbar-expand-sm navbar-dark p-2">
    <a class="navbar-brand" href="#">CUSTOMER SYSTEM</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li  class="nav-item active">
                <a class="nav-link" routerLink="CustomerHome">Cutomers</a>
            </li>
            <li  class="nav-item ">
                <a class="nav-link" routerLink="AddressHome">CustomersAddress</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>

        </ul>
    </div>
</nav>

