<form [formGroup]="CreateProduct" (ngSubmit)="Create()">

    <div class="form-group">
        <label>First Name</label>
        <input  [class.is-invalid]="CreateProduct.controls.CustomerFirstName.invalid&&CreateProduct.controls.CustomerFirstName.touched" class="form-control my-2" class="form-control my-2" type="text" formControlName="CustomerFirstName" >
        <span *ngIf="CreateProduct.controls.CustomerFirstName.invalid&&CreateProduct.controls.CustomerFirstName.touched"  class="text-danger">Required!</span>

    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input [class.is-invalid]="CreateProduct.controls.CustomerLastName.invalid&&CreateProduct.controls.CustomerLastName.touched" class="form-control my-2" class="form-control my-2" type="text"  formControlName="CustomerLastName">
        <span *ngIf="CreateProduct.controls.CustomerLastName.invalid&&CreateProduct.controls.CustomerLastName.touched"  class="text-danger">Required!</span>

    </div>
    <div class="form-group">
        <label>Customer Email</label>
        <input [class.is-invalid]="CreateProduct.controls.CustomerEmail.invalid&&CreateProduct.controls.CustomerEmail.touched" class="form-control my-2" class="form-control my-2" type="text" formControlName="CustomerEmail">
        <span *ngIf="CreateProduct.controls.CustomerEmail.invalid&&CreateProduct.controls.CustomerEmail.touched" class="text-danger">Required!</span>

    </div>
    <div class="form-group">
        <label>Customer Data of Birth</label>
        <input [class.is-invalid]="CreateProduct.controls.CustomerDOB.invalid&&CreateProduct.controls.CustomerDOB.touched" class="form-control my-2" class="form-control my-2" type="date"   formControlName="CustomerDOB">
        <span *ngIf="CreateProduct.controls.CustomerDOB.invalid&&CreateProduct.controls.CustomerDOB.touched" class="text-danger">Required!</span>

    </div>

    <div class="form-group mt-3">
        <label >Gender</label>
        <select  formControlName="CustomerGender" >
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <span *ngIf="CreateProduct.controls.CustomerGender.invalid&&CreateProduct.controls.CustomerGender.touched" class="text-danger">Required!</span>
    </div>


    <button  class="btn btn-primary my-2 mt-3" type="submit">Create</button>
</form>

